:root {
   --primary-color: #596884;
   --secondary-color: #31343d;
   --tertiary-color: #91cbcd;
}

/* box-sizing: border-box - padding and border are included in the width and height */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   color: var(--tertiary-color);
   font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
   padding: 20px 35px;
   background-color: var(--secondary-color);
   display: flex;
   justify-content: space-between;
   align-self: baseline;
   flex-wrap: wrap;
   /* position: sticky;
   position: -webkit-sticky;
   top: 0; 
   background-image: url("../images/glitter-vintage-lights-background-gold-600w-226746934.webp");*/
   background-size: cover;
   background-attachment: fixed;
   background-position: 80%;
   z-index: 9999;
}

header h1 {
   font-weight: bold;
   margin: 0;
   font-size: 36px;
   color: var(--base-color);
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   background-color: var(--tertiary-color);
   background-clip: 40px;
}

header h1 a {
   text-decoration: none;
   padding: 0.2em;
}

header a {
   text-decoration-line: underline;
   /* text-decoration-thickness: var(--tertiary-color); */
   color: var(--primary-color);
}

header img {
   width: 200px;
}

header nav {
   margin: 7px 0;
}

header nav ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}

header nav ul li a {
   padding: 10px 15px;
   font-weight: lighter;
   font-size: 1.55vw;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
   background: var(--primary-color);
   color: var(--secondary-color);
   border-radius: 15px;
   text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */
footer {
   background: var(--primary-color);
   padding: 40px 35px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
}

footer h2 {
   color: var(--secondary-color);
   font-size: 30px;
   margin: 0;
}

footer div {
   line-height: 1.5;
   text-align: right;
}

footer a {
   color: var(--secondary-color);
}
/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
section {
   padding: 60px;
}

/* HERO STYLES START */
.hero {
   background-image: url("../images/glitter-vintage-lights-background-gold-600w-226746934.webp");
   background-size: cover;
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   align-items: flex-end;
   background-attachment: fixed;
   background-position: 80%;
}

.hero p {
   background-color: rgb(1, 97, 100);
   align-self: flex-end;
}
/* HERO STYLES END */

.about-me,
.work {
   color: #596884;
   display: flex;
}

.about-me img {
   max-width: 150px;
}
.about-me div,
.work article {
   padding-left: 8px;
}

.section-title {
   padding-right: 8px;
   border-right: 3px solid;
   border-color: var(--primary-color);
   width: 20%;
}

.work img .first {
   /* object-fit: contain; */
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}
