/* global CSS variables definition */
:root {
     --primary-color: #596884;
     --secondary-color: #31343d;
     --tertiary-color: #91cbcd;
     --color-04: #25252e;
     --color-05: #0a0a8d;
}

/* global seetings for all elements */
* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

body {
     color: var(--tertiary-color);
     font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */
header {
     padding: 10px 35px 10px 5px;
     background-color: var(--secondary-color);
     position: sticky;
     top: 0px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     z-index: 9999;
}

header h1 {
     padding: 5px 0px;
     font-weight: bold;
     margin: 0;
     font-size: 24px;
     background-color: var(--tertiary-color);
     border-radius: 5px;
}

header a {
     text-decoration: none;
     color: var(--color-04);
     padding: 0.1em 0.2em 0.1em 0.2em;
}

header img {
     max-width: 30px;
     vertical-align: middle;
     text-align: left;
     border-radius: 50px;
     padding: 0.1em 0.2em 0.1em 0.2em;
}

header nav,
.my-details {
     margin: 7px 0;
}

header nav ul,
.my-details ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
}

header nav ul li a,
.my-details ul li a {
     text-decoration: underline;
     padding: 10px 15px;
     font-weight: 0.5em;
     /* font-size: 2vw; */
     font-size: 1.5em;
     color: var(--tertiary-color);
     /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.my-details ul li a {
     color: var(--primary-color);
}

header nav ul li a:hover,
.my-details ul li a:hover {
     background: var(--primary-color);
     color: var(--tertiary-color);
     border-radius: 15px;
     text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

/* HERO STYLES START */

.hero {
     padding: 50px 30px 20px 0px;
     background-image: url("../images/glitter-lights.webp");
     background-size: cover;
     background-attachment: fixed;
     opacity: 0.75;
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     background-position: 80%;
}

.hero img {
     max-width: 60px;
     text-align: center;
     border-radius: 5px;
     padding: 0 10px;
     border-radius: 50%;
}

.hero-cta h2 {
     font-style: italic;
     font-size: 1.5em;
     color: var(--color-04);
     background-color: var(--tertiary-color);
     padding: 5px 10px;
     border-radius: 5px;
}

/* HERO STYLES END */

/* ABOUT ME - WORK - CONTACT ME STYLES START */

.container-01 {
     padding-top: 40px;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-wrap: wrap;
     color: var(--primary-color);
}

.container-01 .my-title {
     font-size: 250%;
     padding: 0 15px 1px 0;
     text-align: right;
     width: 20%;
}

.my-details,
.container-02 {
     border-left: 3px solid;
     font-size: 100%;
     margin: 5px auto;
     width: 80%;
     padding: 10px;
     text-align: left;
}


.container-01 .container-04 {
     padding: 60px;
}

.container-04 nav {
     border: none;
}

.container-03 {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;
     position: relative;
}

.app-01,
.app-02,
.app-03,
.app-04,
.app-05  {
     background-size: cover;
     background-position: right 100% bottom 100%;
     background-attachment: fixed;
     display: block;
     border: 3px solid var(--primary-color);
     padding: 80px 15px;
     margin: 5px auto;

     position: relative;
}

.container-04{
display: flex;}

.app-01  {
     background-image: url("../images/run-buddy.jpg");
     width: 98%;
}

.app-02 {
     background-image: url("../images/gifts-web-store.jpg");
     width: 48%;
}
.app-03 {
     background-image: url("../images/news.jpg");
     width: 48%;
}
.app-04 {
     background-image: url("../images/mlm.jpg");
     width: 48%;
}
.app-05 {
     background-image: url("../images/real-estate.jpg");
     width: 48%;
}

.app-legend {
     background-color: var(--tertiary-color);
     width: fit-content;
     padding: 5px 10px;
     text-align: center;
     border-radius: 5px;

     position: absolute;
     bottom: 30px;
     left: 0px;
}
.applegend{
     background-color: var(--tertiary-color);
     width: fit-content;
     padding: 5px 10px;
     text-align: center;
     border-radius: 5px;

     position: absolute;
     bottom: 30px;
     left: 0px;
}

.app-legend h4 {
     color: var(--primary-color);
}

/* ABOUT ME - WORK - CONTACT ME STYLES END */

/* MEDIA QUERY FOR NORMAL DESKTOP SCREENS AND LARGER */

@media screen and (max-width: 980px) {
     /* ABOUT ME - WORK - CONTACT ME STYLES START */
     .container-01 .my-title {
          font-size: 160%;
     }

     .container-01 .my-details .container-04 {
          line-height: 1.8;
          flex-direction: column;
          font-size:medium;
          padding: 0;
     /* ABOUT ME - WORK - CONTACT ME STYLES END */
}



/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
     .container-01 .my-details {
          font-size: 130%;
     }

     .container-01 .my-details .container-04 {
          line-height: 1.8;
          flex-direction: column;
          font-size: large;
          padding: 0;
     }
}



/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
     /* HEADER / NAVBAR STYLES START  */
     header {
          padding: 0;
          flex-direction: column;
          z-index: 9999;
     }
     header h1 {
          font-size: 30px;
          text-align: center;
     }
     header img {
          max-width: 45px;
     }
     header nav ul,
     .my-details ul {
          justify-content: space-around;
     }
     header nav ul li a,
     .my-details ul li a {
          font-size: 1.1em;
     }
     /* HEADER / NAVBAR STYLES END */

     /* HERO STYLES START */
     .hero-cta h2 {
          font-size: 1.1em;
     }
     /* HERO STYLES END */

     /* MAIN SECTIONS STYLES START */
     .container-01 {
          flex-direction: column;
          align-items: center;
     }
     .container-01 .my-title {
          font-size: 200%;
          width: auto;
     }
     .container-01 .my-details {
          line-height: 1.6;
          padding: 10px;
     }
     .container-01 .my-details .container-04 {
          line-height: 3;
          flex-direction: column;
          font-size: larger;
     }
     .app-leg {
          font-size: 0.7em;
     }
     /* MAIN SECTIONS STYLES END */
}
